# Put your Docker Swarm Manager IP and join token here.
# Then, rename this file to .env for the swarm script to source.
# If you're intending to public your Swarm, DO NOT leak this file!!!

SWARM_MANAGER_IP=
SWARM_JOIN_TOKEN=
