global
    log stdout format raw local0

defaults
    log     global
    mode    http
    option  httplog
    timeout connect 5s
    timeout client  30s
    timeout server  30s

# Configure Docker's Internal DNS Resolver
resolvers docker_resolver
    nameserver dns1 127.0.0.11:53
    resolve_retries 3
    timeout resolve 1s
    timeout retry   1s
    # cache the DNS results for 10 seconds
    hold valid 10s

frontend http_front
    bind *:80
    default_backend jobe_nodes

backend jobe_nodes
    # CRITICAL: Stickiness based on CodeRunner's Header
    # If the header exists, hash it to pick a specific server.
    # If the header is missing, fall back to Round Robin.
    balance hdr(X-CodeRunner-Job-Id)
    # balance roundrobin    

    # Check Jobe health to avoid sending traffic to dying nodes
    option httpchk GET /jobe/index.php/restapi/languages
    http-check expect status 200

    # DYNAMIC DISCOVERY:
    # 'server-template' creates slots for up to 50 nodes.
    # It queries 'tasks.jobe' via 'docker_resolver'.
    # When a machine powers on, it fills a slot. When it powers off, the slot empties.
    server-template jobe-node 1-50 jobe:80 check resolvers docker_resolver init-addr none

